---
export interface Props {
  name: string;
  type: string;
}

const { name, type } = Astro.props;
---

<li class="grid h-60 w-full min-w-[10rem] max-w-[15rem] md:h-[18rem]">
  <a
    href={`${type}/${name}`}
    class="md:hover:ring-3 hover:ring-3 delay-10 focus:ring-3 flex flex-col gap-1 rounded-md bg-white p-1 shadow-md shadow-stone-200 outline-none ring-1 ring-stone-900/20 ring-offset-1 transition hover:ring-violet-300 dark:bg-stone-900 dark:shadow-none dark:ring-stone-900/50 dark:hover:ring-violet-600 md:gap-2 md:p-2 md:ring-offset-2 md:hover:ring-4 md:focus:ring-4"
  >
    <div class="flex-1 text-black dark:text-stone-200">
      <slot />
    </div>
    <hr class="h-[1px] bg-stone-400 md:h-[2px]" />
    <h3
      class="text-center text-xl font-semibold text-stone-900 dark:text-stone-200 md:text-2xl"
    >
      {name}
    </h3>
  </a>
</li>
