---
import BaseLayout from "./BaseLayout.astro";
import Header from "~/components/layout/Header.astro";

export interface Props {
  title: string;
  useSidebar?: boolean;
}

const { title, useSidebar = false } = Astro.props;
---

<BaseLayout title={title}>
  <Header useSidebar={useSidebar} />
  <main class="container mx-auto max-w-[96rem] px-2 py-4 md:px-4">
    <slot />
  </main>
</BaseLayout>
